@model SKILLMATRIX.Repo.ViewModels.PlantViewModel
@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-12 mt-2">
    <div class="card mb-4">
        <h5 class="card-header bg-info text-white">Edit Plant</h5>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @* <label asp-for="Plant_Id" class="control-label"></label> *@
                    <input type="hidden" asp-for="Plant_Id" class="form-control" />
                    <span asp-validation-for="Plant_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plant_Name" class="control-label">Enter the Plant Name</label>
                    <input asp-for="Plant_Name" maxlength="10" class="form-control" />
                    <span asp-validation-for="Plant_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plant_Code" class="control-label">Enter the Plant Code</label>
                    <input asp-for="Plant_Code" maxlength="10" class="form-control" />
                    <span asp-validation-for="Plant_Code" class="text-danger"></span>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <div class="form-group float-start">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group float-end">
                            <a class="text-white btn btn-info" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
